@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin        : 0;
    padding       : 0;
    box-sizing    : border-box;
    /* font-family: 'Montserrat', sans-serif; */
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    width    : 100%;
    max-width: 1280px;
    margin   : 0 auto;
    padding  : 0 2%;
}

/*******************/

/*>>> HEADER <<<*/

header {
    padding: 10px 0;
}

header div.logo h1 {
    width      : 236px;
    height     : 40px;
    float      : left;
    color      : #576975;
    font-weight: 300;
}

header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul li {
    float          : left;
    padding        : 0 20px;
    line-height    : 40px;
    list-style-type: none;
}

header ul a {
    color          : #b4b4b4;
    text-decoration: none;
    text-transform : uppercase;
}

header nav.menu-mobile{
    width: 30px;
    height: 35px;
    display: none;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    background-image: url('../images/icon-mobile.png');
    background-size: 100% 100%;
}

header nav.menu-mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    background-color: #fff;
}

header nav.menu-mobile ul li{
    padding: 10px 0;
    /* border-top: 1px solid #576975; */
}
/**Se cliente quiser divisões no menu-mobile, ativar as borders**/
header nav.menu-mobile ul:last-child{
    /* border-bottom: 1px solid #576975; */
}

/*******************/

/*>>> Sessao 01 | Mosaico <<<*/
.single-mosaico {
    width: calc(100% / 6);
    float: left;
}

.img-single-mosaico {
    width           : 100%;
    padding-top     : 100%;
    background-color: #ccc;
    border          : 5px solid #fff;

    /*  adicionar imagem do mosaico aqui 
            background-image: url();
     */
}

/*******************/

/*>>> Sessao 02 | Servicos <<<*/

section.servicos>.container {
    max-width  : 800px;
    display    : flex;
    position   : relative;
    top        : -40px;
    align-items: center;
    text-align : center;
    color      : #fff;
}

section.servicos>.container .box-servico h2 {
    font-size     : 15px;
    font-weight   : normal;
    text-transform: uppercase;
}

section.servicos>.container .box-servico p {
    margin     : 8px 0 8px 0;
    font-size  : 13px;
    font-weight: lighter;
}

section.servicos>.container .box-servico:nth-of-type(1),
section.servicos>.container .box-servico:nth-of-type(3) {
    width           : 30%;
    padding         : 30px 2%;
    background-color: #576975;
    position        : relative;
}

section.servicos>.container .box-servico:nth-of-type(2) {
    width           : 40%;
    padding         : 50px 2%;
    background-color: #688293;
}

.fa-tooth {
    font-size: 16px;
    position : absolute;
    left     : 50%;
    bottom   : 10px;
    transform: translate(-50%);
}

/*******************/

/*>>> Sessao 03 | Perfil <<<*/

section.perfil-container {
    padding: 40px 0;
}

section.perfil-container .container {
    max-width: 800px;
}

section.perfil-container .wraper-perfil {
    padding : 60% 0 0 0;
    position: relative;
}

section.perfil-container .wraper-perfil2 {
    position   : absolute;
    top        : 0;
    left       : 0;
    display    : flex;
    align-items: center;
    width      : 100%;
    height     : 100%;
}

section.perfil-container .img-perfil {
    width           : 40%;
    height          : 100%;
    /* Colocar imagem do profissional aqui
    background-image: url(''); */
    background-color: #ccc;
}

section.perfil-container .txt-perfil {
    width  : 60%;
    padding: 0 30px;
}

section.perfil-container .txt-perfil h2 {
    font-size: 18px;
    color    : #698293;
}

section.perfil-container .txt-perfil p {
    color     : #4b4b4b;
    font-size : 14px;
    margin-top: 8px;
}

/*******************/

/*>>> Sessao 04 |  Video <<<*/

section.video{
    padding: 50px 0;
}

section.video .box-video{
    width: 33.3%;
    float: left;
    position: relative;
    padding-top: calc(33.3% * 0.6);
}

section.video .box-video iframe{
    width: 100%;
    height: 100%;
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
}

/*******************/


/*>>> RESPONSIVO | MediaQuery <<<*/

@media screen and (max-width: 768px) {
    header nav.menu-desktop{
        display: none;
    }

    header nav.menu-mobile{
        display: block;
    }

    section.servicos>.container {
        flex-direction: column;
        top: 20px;
    }

    section.servicos>.container .box-servico:nth-of-type(1),
    section.servicos>.container .box-servico:nth-of-type(3) {
        width           : 90%;
        max-width       : 300px;
        padding         : 30px 2%;
    }

    section.servicos>.container .box-servico:nth-of-type(2) {
        width           : 95%;
        max-width: 330px;
        padding         : 50px 2%;
    }

    section.perfil-container .wraper-perfil{
        padding-top: 0;
    }

    section.perfil-container .wraper-perfil2{
        height: auto;
        position: static;
        display: inline-block;
        text-align: center;
    }

    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
        margin: 10px 0 30px 0;
    }

    section.perfil-container .txt-perfil{
        display: inline-block;
        text-align: justify;
        width: 95%;
        padding: 0 30px;
    }

    section.video{
        text-align: center;
    }

    section.video .box-video{
        display: inline-block;
        width: 70%;
        float: none;
        padding-top: calc(70% * 0.6);
    }
}

@media screen and (max-width: 580px){
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
    }

    section.video .box-video{
        width: 100%;
        padding-top: calc(100% * 0.6);
    }
}

@media screen and (max-width: 480px){
    /* 
    Quando trabalhar com a imagem do logo, setar a largura
    header div.logo h1{
        width: 200px;
    } */
}

/*******************/